<div class="main-content">
  <div class="row align-items-center allheaderssection">
    <div class="col-1 text-right">
      <button mat-button class="backbutton" (click)="handleBack()">
        <img src="../../../../../assets/back.svg" />
      </button>
    </div>
    <div class="col-9">
      <h4>All Contractors</h4>
    </div>
    <div class="col-2 text-right">
      <button mat-raised-button color="accent">Add</button>
    </div>
  </div>
  <div class="container data-content">
    <div class="row mt-4 listsection">
      <div class="col-12 text-right">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput placeholder="Ex. ium" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
