@import "../../../../shared/loader/loader.component.scss";
.designerslist .designerslist-viewport {
  height: 54vh;
}

.style {
  display: inline-block;
  font-size: xx-small;
}

.designeritem {
  width: 124px;
  height: 124px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-right: 16px;
  text-align: center;
  margin-top: 16px;
}

.logo {
  width: 48px;
}

.designeritem .initials {
  color: #434343;
  font-size: 2em;
}

.designeritem .initials p {
  margin-bottom: 0px;
  font-weight: 600;
}

.namedetails {
  display: none;
  position: relative;
  border-radius: 0px 0px 8px 8px;
  background: #edc773;
  font-weight: 600;
  height: 43px;
  color: #434343;
  p {
    height: 11px;
  }
  span {
    font-size: 0.6em;
    font-weight: 700;
  }
}

.image-details {
  top: 11px;
}

.notimage-details {
  top: 23px;
}

.designeritem:hover {
  .initials p {
    position: relative;
    top: 21.5px;
  }
  .namedetails {
    display: block;
  }
  .logo {
    position: relative !important;
    top: 1.3rem !important;
  }
}

.selectionbackground {
  background-color: #6666668a;
  position: absolute;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.selectionbackground img {
  width: 40%;
  margin-top: 28%;
}

.search {
  flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    padding: 0.7em 2em;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    ​ &:focus {
      outline: none;
      width: 100%;
      background-color: #dbdada;
    }
  }
}

/////////////////////////
//// Search Bar
.search {
  flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    padding: 0.7em 2em;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #dbdada;
    }
  }
}

::ng-deep .mat-badge-medium .mat-badge-content {
  background-color: #edc773 !important;
  border-color: #edc773;
  color: black;
}

.taskcontainer {
  background-color: #edc773;
  border-radius: 8px;
  max-height: 54vh;
  height: 54vh;
  overflow-y: auto;
  padding: 0px;
}
.taskcard-header {
  font-weight: 600;
}
.jobcard {
  background-color: white;
  border-radius: 5px;
  margin: 12px 6px 0px 6px;
  width: 46%;
  padding: 10px;
}
.jobcard-icon {
  width: 22px;
  background: #edc773;
  border-radius: 5px;
}
.jobcontainer {
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.jobcardheader {
  font-weight: 500;
  font-size: 12px;
  word-break: break-all;
}
.jobcard-content {
  font-weight: 600;
  font-size: 12px;
  word-break: break-all;
}
.jobcard-footer {
  font-weight: 500;
  font-size: 11px;
  color: grey;
  word-break: break-all;
}
.nodatafound {
  right: 106px;
  background-color: white !important;
  height: 42vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.jobcard-polygon-icon {
  // width: 22px;
  background: #edc773;
  border-radius: 5px;
  height: 15px;
  width: 15px;
}
.jobcard :hover {
  cursor: pointer;
}
