<div class="container">
  <div class="row">
    <div class="m-auto">
      <div class="row mb-3">
        <div class="col-8">
          <p class="h3 heading">Change Password</p>
        </div>
        <div class="col-4 text-right">
          <button mat-icon-button (click)="onCloseClick()">
            <img class="dialogclose" src="../../../../../assets/close.svg" />
          </button>
        </div>
      </div>
      <div>
        <form class="form-group changepasswordcard text-secondary" [formGroup]="changepasswordform"
          (keydown.enter)="onChangePassword($event)">
          <label class="mtlabel mb-0">Old Password*</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput [type]="oldhide ? 'password' : 'text'" [formControl]="oldpassword" required />
            <button mat-icon-button matSuffix (click)="oldhide = !oldhide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="oldhide">
              <mat-icon style="margin-top: 7px">{{
                oldhide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            <mat-error *ngIf="oldpassword.invalid">{{
              getOldPasswordErrorMessage()
              }}</mat-error>
          </mat-form-field>
          <label class="mtlabel mb-0">New Password*</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput [type]="newhide ? 'password' : 'text'" [formControl]="newpassword" required />
            <button mat-icon-button matSuffix (click)="newhide = !newhide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="newhide">
              <mat-icon style="margin-top: 7px">{{
                newhide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            <mat-error *ngIf="newpassword.invalid">{{
              getPasswordErrorMessage()
              }}</mat-error>
          </mat-form-field>
          <label class="mtlabel mb-0">Confirm Password*</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput [type]="confirmhide ? 'password' : 'text'" [formControl]="confirmpassword" required />
            <button mat-icon-button matSuffix (click)="confirmhide = !confirmhide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="confirmhide">
              <mat-icon style="margin-top: 7px">{{
                confirmhide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            <mat-error *ngIf="confirmpassword.invalid">{{
              getconfirmPasswordErrorMessage()
              }}</mat-error>
          </mat-form-field>
        </form>
        <button (click)="onChangePassword($event)" class="w-100 p-1 mt-3 yellowbutton" mat-raised-button>
          Continue
        </button>
      </div>
    </div>
  </div>
</div>