.changepasswordform {
  width: 100%;
  .visibility {
    margin-top: 7px;
  }
}
.changepasswordform h1 {
  font-weight: 600;
  font-size: 2em;
}

.changepasswordcard {
  .mtlabel {
    margin-bottom: 4px;
    color: #3c4257;
    font-size: 12px;
  }
}

.passwordmatcherror {
  font-size: 0.6em;
}
.termsrow span {
  font-size: 0.7rem;
}

.mediumtext {
  font-size: 0.7rem;
}
.authcard2 {
  height: auto;
  margin-top: 10vh;
}

.signincontainerdesktop {
  padding-bottom: 80px;
  padding-top: 80px;
}

.signincontainermobile {
  padding-bottom: 60px;
  padding-top: 30px;
}

.brandrow {
  p {
    font-weight: 600;
    font-size: 16px;
  }

  img {
    margin-right: 8px;
  }
}

.forgotform {
  p {
    margin-bottom: 4px;
    color: #3c4257;
    font-size: 12px;
  }
}

.changepasssize {
  font-size: 50px;
  margin: 44px 0px 0px 58px;
}

.commoncard {
  margin-top: 40% !important;
  height: 40% !important;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  padding-top: 8px;
}
.spinnercard {
  width: 320px;
  position: absolute;
  top: 43%;
  left: 42%;
}
