.file-icon {
  width: 35px !important;
}

.subtitle {
  font-size: 0.7rem;
  color: #000000;
  padding: 4px 6px;
}

.contentvalue {
  color: #3c78d8;
  font-size: 0.7rem;
  font-style: bold;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0px 6px;
}

.contentheader {
  color: #666666;
  font-size: 0.7rem;
  margin-bottom: 0;
  padding: 0px 6px;
}
