.hrow {
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
}
.close-button {
  margin: 10px;
}

// .logo-paypal-box{

//     top:40px;
//     left: 40;
// }

.logo-paypal {
  height: 40px;
  // margin: -92px 0px 0px 0px;
}

.Paylist {
  margin: 9px 0px 0px 164px;
}

// =================

.logo-wire {
  height: 40px;
  margin: -5px 0px 0px 0px;
}

.title-wire {
  margin: -35px 0px 0px 186px;
}
.wire-list {
  margin: 6px 0px 0px 164px;
}
// ==============
.logo-direct {
  height: 40px;
  margin: -5px 0px 0px 0px;
}

.title-direct {
  margin: -35px 0px 0px 186px;
}
.list-direct {
  margin: 6px 0px 0px 164px;
}
// .paypal-title{
//     margin: -21px 0px 0px 140px;
// }

// .card{
//     float: left;
// }

.button-paypal {
  margin-left: 16px;
}
