<div class="fullscreen forgotpasswordbackground">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-4">
        <div class="row brandrow">
          <p>
            <img src="../../../assets/wattmonklogo.png" width="40px" />WattMonk
          </p>
        </div>
        <div class="row">
          <div class="col">
            <mat-card class="forgotpasswordcard mat-elevation-z7">
              <mat-card-header>
                <mat-card-title>Forgot Password</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="forgotpasswordForm" class="forgotpasswordform">
                  <h2 class="heading2">
                    Having trouble logging in?
                  </h2>
                  <h4 class="para bodypara1">
                    To reset your password, enter your WattMonk registered email
                    address.
                  </h4>
                  <div class="form-group mt-4">
                    <p>Your Email Address*</p>
                    <mat-form-field appearance="outline" class="fullwidth">
                      <input matInput placeholder="eg. pat@example.com" [formControl]="email" required />
                      <mat-error *ngIf="email.invalid">{{
                        getEmailErrorMessage()
                        }}</mat-error>
                    </mat-form-field>
                  </div>
                </form>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button (click)="handleBack()" class="fieldwidth unfocusedbutton">
                  Cancel
                </button>
                <button mat-raised-button (click)="onForgotPasswordSubmit($event)" class="fieldwidth">
                  Submit
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="row footerrow fullwidth mt-4">
      <div class="col text-center">
        <span class="mt-2">&copy; 2020 WattMonk Technologies Private Limited. All Rights
          Reserved.</span>
      </div>
    </div>
  </div>
</div>