.green-font-small {
  color: rgb(26, 155, 26);
  font-weight: 550;
  font-size: 13px;
}
.font-small {
  font-size: 13px;
  font-weight: 500;
}

.bd-right {
  border-left: 2px dashed gray;
}
.cursor {
  cursor: pointer;
}
