<div class="fullscreen resetbackground">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-4">
        <div class="row brandrow">
          <p>
            <img src="../../../assets/wattmonklogo.png" width="40px" />WattMonk
          </p>
        </div>
        <div class="row">
          <div class="col">
            <mat-card class="resetpasswordcard mat-elevation-z7">
              <mat-card-header>
                <mat-card-title>Reset Password</mat-card-title>
                <mat-card-subtitle class="mediumtext">Let us help you reset your password.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form class="resetpasswordform pt-2" (keydown.enter)="onResetPassword($event)">
                  <div class="form-group">
                    <p>New Password*</p>
                    <mat-form-field appearance="outline" class="fullwidth">
                      <input id="resetpassword" name="rspassword" matInput [type]="newhide ? 'password' : 'text'"
                        [formControl]="newpassword" required />
                      <button mat-icon-button matSuffix (click)="newhide = !newhide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="newhide">
                        <mat-icon>{{
                          newhide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                      </button>
                      <mat-error *ngIf="newpassword.invalid">{{
                        getPasswordErrorMessage()
                        }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <p>Confirm Password*</p>
                    <mat-form-field appearance="outline" class="fullwidth">
                      <input id="resetconfirmpassword" name="rsconfirmpassword" matInput
                        [type]="confirmhide ? 'password' : 'text'" [formControl]="confirmpassword" required />
                      <button mat-icon-button matSuffix (click)="confirmhide = !confirmhide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmhide">
                        <mat-icon>{{
                          confirmhide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                      </button>
                      <mat-error *ngIf="confirmpassword.invalid">{{
                        getConfirmPasswordErrorMessage()
                        }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="form-group fullwidth pt-3">
                    <button mat-raised-button [routerLink]="['/auth/login']" class="fieldwidth unfocusedbutton">
                      Cancel
                    </button>
                    <button mat-raised-button (click)="onResetPassword($event)"
                      class="float-right fieldwidth primarymatbutton">
                      Continue
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="row footerrow fullwidth mt-4">
      <div class="col text-center">
        <span class="mt-2">&copy; 2020 WattMonk Technologies Private Limited. All Rights
          Reserved.</span>
      </div>
    </div>
  </div>
</div>