.confirmationsnackbar img {
  width: 24px;
  height: 24px;
  padding-right: 0px;
}

.infomessage {
  font-size: 0.7rem;
  padding-right: 0px;
}

.infobutton {
  padding-right: 0px;
  padding-left: 8px;
}

.primarybutton {
  color: #dc6e67;
}

.secondarybutton {
  color: #999999;
}
