<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <div class="row d-flex align-items-center pt-1 pl-3">
          <img
            src="../../../../../assets/key icon black.svg"
            width="20px"
            height="20px"
            class="mr-2"
          />
          <h2 class="mb-0 title">Add Secret Key</h2>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end pr-0">
        <span class="tableactionbutton">
          <button mat-icon-button (click)="onCloseClick()">
            <img class="dialogclose" src="../../../../../assets/close.svg" />
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 py-3">
    <form class="logincard">
      <p class="title para">Name*</p>
      <mat-form-field appearance="outline" class="fullwidth">
        <input autocomplete="off" placeholder="eg. doe" matInput required />
      </mat-form-field>
      <div class="d-flex justify-content-start">
        <button class="mr-2 formbutton" mat-raised-button>Cancel</button>
        <button class="formbutton" mat-raised-button>Save</button>
      </div>
    </form>
  </div>
</div>
