.updatedialogformtitle {
  font-size: 16px;
  font-weight: 600;
}
.updatecontent {
  padding-left: 16px;
  font-weight: 300;
  font-size: 0.8em;
  padding-bottom: 8px;
}

.warning {
  color: red;
  font-weight: 300;
  font-size: 0.8em;
  padding-left: 16px;
}
