.data-content {
  margin-left: 16px;
}
.mat-icon1 {
  color: #0984e3;
}
.listcolumn {
  margin-top: 16px;
  padding-left: 0px;
}
.listcard {
  height: 60vh;
  overflow: hidden;
}
.listitems-viewport {
  height: 352px;
  width: 100%;
}
.listcard .mat-card-title {
  margin-top: 10px;
  font-size: 1.1em;
}
.even {
  background-color: #ecf0f9ab;
}
.odd {
  background-color: #ffffff;
}
.itemcard {
  margin-bottom: 8px;
  padding: 10px !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  // border-bottom: 1px solid #cccccc;

  .mat-card-content {
    margin-bottom: 0px;
  }
}
.itemcard :hover {
  cursor: pointer;
}
.itemcard .mat-card-header {
  margin-bottom: 8px;
}
.itemcard .headerrow {
  display: inline-block;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.itemcard .headercol {
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
.itemcard .contentrow {
  margin-left: 10px;
  margin-right: 10px;
}
.itemcard .contentcol {
  padding-left: 0px;
  padding-right: 0px;
}
.itemcard .mat-card-title {
  font-size: 0.9em;
  font-weight: 600;
  margin: 1px;
  margin-bottom: 0px !important;
}
.itemcard .mat-card-subtitle {
  font-size: 0.7em;
  margin: 0px;
  background-color: #0984e3;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  height: 28px;
  color: #fff;
}
.itemcard .actiondetail {
  font-size: 0.8em;
  color: #0984e3;
  display: table;
}
.itemcard .timedetail {
  font-size: 0.9em;
  color: #0984e3;
  display: block;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: right;
}
.itemcard .blockdetail {
  font-size: 0.7em;
  margin: 0px;
  background-color: #95afc0;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  height: 28px;
  color: #fff;
}
.itemcard .silentdetail {
  color: #636e72;
  font-style: italic;
  font-size: 0.7em;
  text-align: right;
  margin-right: 10px;
}
.itemcard .chipdetail {
  background-color: #95afc0;
  font-size: 0.7em;
  padding: 2px 10px;
  border-radius: 12px;
  text-align: center;
  height: 24px;
  color: #fff;
  margin-bottom: 0px;
  display: inline-block;
}
.itemcard .mat-card-footer {
  margin: 0px;
}
.itemcard .footerrow {
  margin-left: 10px;
  margin-right: 10px;
}
.itemcard .footercol {
  padding-left: 0px;
  padding-right: 0px;
}
.itemcard .footercol .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.itemcard .assigneedetails {
  font-size: 0.7em;
  margin-bottom: 0px;
  text-align: right;
}
.listplaceholder {
  font-size: 1em;
  color: #aaaaaa;
  font-style: italic;
  font-weight: 600;
  margin-top: 6% !important;
}

/* 
  // .col-lg-2 .col-md-3 .col-sm-6 .col-xs-6{
  //   //flex: none !important;
  // }
  
   */

.conoverviewbutton {
  border-color: #d9d9d9;
  background-color: #ffffff;
  border-width: 1px;
  width: 100%;
  border-radius: 0;
  border-style: solid;
  color: #2b313f;
  text-align: right !important;
}
/* // .overviewsection .col {
  //   padding-left: 0;
  // } */
.conoverviewbutton img {
  width: 16%;
  position: absolute;
  left: 16px;
  top: 16px;
}
.conoverviewbutton h1 {
  margin-top: 0.6em;
  margin-bottom: 0;
}

.conoverviewbutton h4 {
  font-size: 0.7rem;
  padding-top: 14px;
  margin-bottom: 4px;
}

.conoverviewvalue {
  margin-top: 22px !important;
}

.brandarea .logo {
  width: 36px;
  margin-left: 8px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  max-width: none !important;
}

.brandarea .logo img {
  width: 36px !important;
}

.brandarea .initials {
  padding: 9px;
  margin-left: 6px;
  margin-right: 0px !important;
}

@media screen and (min-width: 320px) {
  /*   // .overviewsection {
    //   display: block;
      
    // }
  
    // .widthClass {
    //   width: 224%;
    // } */
}

@media screen and (min-width: 768px) {
  /*     // .overviewsection {
    //   display: flex;
    // }
  
    // .widthClass {
    //   width: 102%;
    // } */
}
.deletclass {
  display: inline;
}
.widt {
  width: 80%;
}

.hight {
  height: 20px;
}

.badges .col-md-4.col-sm-6.col-xs-6 {
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
